{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
                <div class="container-fluid mt-5">
                    <div class="row">
                        <h1 class="text-center">
                            Bienvenue sur <strong>RECIPE</strong>, votre destination ultime pour explorer des recettes inspirantes et créatives.
                        </h1>
                        <hr class="">
                        <h3 class="text-center mt-4" >
                            Que vous soyez novice en cuisine ou amateur passionné, nous avons des idées délicieuses et faciles à suivre pour chaque occasion. Plongez dans notre collection de recettes, trouvez des astuces culinaires et transformez chaque repas en un moment exceptionnel. Bon appétit et bonne aventure gastronomique !
                        </h3>
                    </div>
                </div>
                <div class="container-fluid mt-5">
                <div class="row">
                    <div class="row my-3">
                        <h1 class="text-center">Nos dernières recettes</h1>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        {{include('pages/carousel.html.twig')}}
                    
                    </div>
                    <div class="col-md-1"></div>
                    
                </div>
                </div> 
                <div class="row">
                    
                            <div class="col-md-1">
                                
                            </div>
                            <div class="col-md-10">
                                 <h1>Les plus vieilles</h1>
                                 <div class="row text-center" style="justify-content:space-around;">
                                    {% for posts2 in posts2 %}
                                    <div class="card border-success border-3 d-grid my-3" style="width: 18rem;">
                                        <img src="{{asset('divers/images/' ~ posts2.image)}}" alt="Mon image" class="card-img-top" alt="Product Image">
                                        <div class="card-body d-grid">
                                        <h5 class="card-title">{{posts2.title}}</h5>
                                        <div class="txt-red">
                                            {% if is_granted("ROLE_USER") %}
                                                {% set isFavorite = false %}
                                                {% for favoris in posts2.favoris %}
                                                    {% if favoris.id == app.user.id %}
                                                        {% set isFavorite = true %}
                                                    {% endif %}    
                                                {% endfor %}
                                                {% if isFavorite %}
                                                    <a href="{{ path('retrait_favoris', {id: posts2.id}) }}"style="color:red;"><i class="fas fa-heart"></i></a>
                                                {% else %}
                                                    <a href="{{ path('ajout_favoris', {id: posts2.id}) }}"style="color:red;"><i class="far fa-heart"></i></a>
                                                {% endif %}

                                            {% else %}
                                                <i class="far fa-heart"></i>
                                            {% endif %}
            
                                        </div>
                                        <p class="card-text"><a class="" href="{{path('show', {id: posts2.id})}}">{{posts2.abstract|slice(0, 100)}}...</a></p>
                                        <div class="align-self-end">
                                            <a href="{{path('show', {id: posts2.id})}}" class="btn btn-success">Voir la recette</a>
                                        </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                
                            </div>
                </div>
{% endblock %}
